body {
  min-width: 357px;
  overflow-x: hidden;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

.feed-list  {
.signin-form-container {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  padding-top: 40px;
}

.signin-form:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "My Feeds Sign in";
}

  list-style-type: none;
}

.feed-list a {
  margin-right: 0.2em;
}

.feed-list .feed-count {
  font-size: 0.8em;
  color: #666;
}
